*.log
*.pot
*.pyc
*db.sqlite3
__pycache__
*.bak
*.py[cod]
*$py.class

pip-log.txt
pip-delete-this-directory.txt
 .ipynb_checkpoints
 .python-version
celerybeat-schedule.*
# Enviroments
 .env 
 .venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
**/migrations
*.DS_Store
**/__pycache__
**/.DS_Store
.history