/* Navigation bar */
.topnav{
    background-color: #eeeeee;
    width: 100%;
}

/* Links inside navigation */
.topnav{
    color: #000000;
    text-align: center;
    margin-right: 25px;
    text-decoration: none;
    font-size: 17px;
}

/* Active link */
.topnav a .active{
    color: #008CBA;
}